<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'east',split:true" style="width:100px"></div>
    <div data-options="region:'center'" style="padding:10px;">
        jQuery EasyUI framework help you build your web page easily.
    </div>
</div>