.form-tab {
    border: 1px solid #D4D4D4;
    padding: 3px;
    width: 100%;
    margin: 3px 3px 15px 3px;
}

.form-tab td {
    padding: 3px;
    border: 1px solid #D4D4D4;
}

.form-tab td:first-child {
    width: 120px;
    text-align: right;
    background-color: #e5e4e4;
}

