.form-tab {
    border: 1px solid #a0c6e5;
    padding: 3px;
    width: 100%;
    margin: 3px 3px 15px 3px;
    border-collapse:collapse;
}

.form-tab td {
    padding: 3px;
    border: 1px solid #a0c6e5;
}

.form-tab td:first-child {
    width: 120px;
    text-align: right;
    background-color: #cfe7fa;
}

